figure{
    text-align: center;
}

h2 {
    color: aqua;
    padding: 10px;
}

p {
    color: white;
    padding: 20px;
}

#homepageContents {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slackAnnouncements, #upcomingEvents {
    width: 40%;
    border: white 5px solid;
    margin: 5%;
    height: 200px;
}