#banner {
    width: 100%;
    background-color: black;
    color: aqua;
    font-size: 100px;
    text-align: center;
    list-style: none;
    font-family: "Times New Roman";
}

body {
    margin: 0;
    background-color: grey;
    border-left: 50px solid rgb(68, 68, 68);
    border-right: 50px solid rgb(68, 68, 68);
    height: 1300px;
    font-family: "Times New Roman";
}